<div id='container'>
  <router-outlet></router-outlet>
</div>
<div id='toolbar'>
  <!-- welcome message -->
  <div id='c1'>
    <span id='welcomeMessage' *ngIf="user.username">Welcome {{user.username}}</span>
  </div>

  <!-- group select -->
  <div id='c2'>
    <select [(ngModel)]='groupList' name='groupList' *ngIf="user.username">
      <option [ngValue]='null'>Select Group</option>
      <option *ngFor='let group of user.groups'>{{group}}</option>
    </select><br>
    <button id='joinGroupButton' (click)='joinGroup()'>Join Group</button>
    <button id='createGroupButton' (click)='test()' *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'" >Create Group</button>
  </div>

  <!-- channel select -->
  <div id='c3'>
    <select [(ngModel)]='channelList' name='channelList' *ngIf="user.username && channels.length >= 1">
      <option [ngValue]='null'>Select channel</option>
      <option *ngFor='let channel of channels'>{{channel}}</option>
    </select><br>
    <button id='createchannelButton' (click)='test()' *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'" >Create Channel</button>
  </div>

  <!-- loggout button -->
  <div id='c4'>
    <button id='logoutButton' *ngIf="user.username" (click)='logout()'>Logout</button>
  </div>

</div>
<!-- -->