<div id='container'>
    <router-outlet></router-outlet>
</div>
<div id='toolbar'>
    <!-- welcome message -->
    <div id='c1' class='col'>
        <span id='welcomeMessage' *ngIf="user.username">Welcome {{user.username}}</span><br>
        <button id='logoutButton' *ngIf="user.username" (click)='logout()'>Logout</button>
    </div>

    <!-- group select -->
    <div id='c2' class='col'>
        <select [(ngModel)]='groupList' name='groupList' *ngIf="user.username">
        <option [ngValue]='null'>Select Group</option>
        <option *ngFor='let group of groups'>{{group}}</option>
        </select><br>
        <button id='joinGroupButton' class='button' (click)='joinGroup()' *ngIf="user.username">Join Group</button>
    </div>

    <!-- channel select -->
    <div id='c3' class='col'>
        <select [(ngModel)]='channelList' name='channelList' *ngIf="user.username && inGroup">
        <option [ngValue]='null'>Select channel</option>
        <option *ngFor='let channel of channels'>{{channel}}</option>
        </select><br>
        <button id='joinChannelButton' class='button' (click)='joinChannel()' *ngIf="user.username && inGroup">Join Channel</button>
    </div>

    <!-- enter/leave chat button -->
    <div id='c4' class='col'>
        <button id='enterChatButton' class='button' (click)='enterChat()' *ngIf="inChannel && !chatJoined">Enter Chat</button>
        <button id='leaveChatButton' class='button' (click)='leaveChat()' *ngIf="chatJoined">Leave Chat</button>
    </div>

</div>
<!-- -->