<div id='container'>
  <router-outlet></router-outlet>
</div>
<div id='toolbar'>
  <div id='c1'>
    <span id='welcomeMessage'>Welcome {{username}}</span>
  </div>
  <div id='c2'>
    <select [(ngModel)]='groupList' name='groupList'>
      <option [ngValue]='null'>Select Group</option>
      <option *ngFor='let group of groups'>{{group}}</option>
    </select><br>
    <button id='createGroupButton' (click)='test()'>Create Group</button>
  </div>
  
</div>
<!-- *ngIf="{{user.role}} == 'superAdmin' || {{user.role}} == 'groupAdmin'" -->