<div id='dashTitle'><h1>Dashboard</h1></div>
<!-- DASHBOARD -->
<div id='dashContent'>
    <div id='dashContainer'>
        <!-- USER SECTION (create, change role and delete) -->
        <div id='userSection'>
            <!-- Create new user -->
            <div id='createUser' *ngIf="userRole >= 2">
                <h3>Create New User</h3>
                <label class="input">
                    <input type="text" [(ngModel)]='newUsername' name='newUsername'>
                    <span class="label">Username</span>
                    <span class="border"></span>
                </label><br>
                <label class="input">
                    <input type="text" [(ngModel)]='newEmail' name='newEmail'>
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label><br>
                <label class="selectionInput">
                    <span class="boxLabel">Role</span><br>
                    <select [(ngModel)]='newRole' name='newRole'>
                        <option [ngValue]='null'>Select Role</option>
                        <option>General User</option>
                        <option *ngIf="userRole >= 1">Group Assist</option>
                        <option *ngIf="userRole >= 2">Group Admin</option>
                        <option *ngIf="userRole == 3">Super Admin</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='createUser()'>Create</button>
            </div>
            <!-- Change user's role -->
            <div id='changeRole' *ngIf="userRole == 3">
                <h3>Change User's Role</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Username</span><br>
                    <select [(ngModel)]='updatedUser' name='updatedUser'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of users">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <label class="selectionInput">
                    <span class="boxLabel">Role</span><br>
                    <select [(ngModel)]='changedRole' name='changedRole'>
                        <option [ngValue]='null'>Select Role</option>
                        <option>General User</option>
                        <option *ngIf="userRole >= 1">Group Assist</option>
                        <option *ngIf="userRole >= 2">Group Admin</option>
                        <option *ngIf="userRole == 3">Super Admin</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='editUser()'>Update</button>
            </div>
            <!-- delete user -->
            <div id='deleteUser' *ngIf="userRole == 3">
                <h3>Delete User</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Username</span><br>
                    <select [(ngModel)]='deletedUser' name='deletedUser'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of users">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='deleteUser()'>Delete</button>
            </div>
        </div>

        <!-- GROUP SECTION (create, invite/remove and delete) -->
        <div id='groupSection'>
            <!-- create group -->
            <div id='createGroup' *ngIf="userRole >= 2">
                <h3>Create New Group</h3>
                <label class="input">
                    <input type="text" [(ngModel)]='newGroupName' name='newGroupName'>
                    <span class="label">Group Name</span>
                    <span class="border"></span>
                </label><br>
                <button (click)='createGroup()'>Create</button>
            </div>
            <!-- delete group -->
            <div id='deleteGroup' *ngIf="userRole >= 2">
                <h3>Delete a Group</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Group Name</span><br>
                    <select *ngIf="userRole == 3" [(ngModel)]='groupToDelete' name='groupToDelete'>
                        <option [ngValue]='null'>Select Group</option>
                        <option *ngFor="let group of allGroups">{{group}}</option>
                    </select>
                    <select *ngIf="userRole == 2" [(ngModel)]='groupToDelete' name='groupToDelete'>
                        <option [ngValue]='null'>Select Group</option>
                        <option *ngFor="let group of userGroups">{{group}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='deleteGroup()'>Delete</button>
            </div>
            <!-- invite to group -->
            <div id='inviteToGroup' *ngIf="joinedGroup">
                <h3>Invite User to Group</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Username</span><br>
                    <select [(ngModel)]='inviteUserToGroup' name='inviteToGroup'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of users">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='inviteToGroup()'>Invite</button>
            </div>
            <!-- remove from group -->
            <div id='removeFromGroup' *ngIf="userRole >= 1 && joinedGroup">
                <h3>Remove User from Group</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Users</span><br>
                    <select [(ngModel)]='removeUserFromGroup' name='removeFromGroup'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of usersInGroup">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='removeFromGroup()'>Remove</button>
            </div>
        </div>

        <!-- CHANNEL SECTION (create, invite/remove and delete) -->
        <div id='channelSection'>
            <!-- create channel -->
            <div id='createChannel'*ngIf="joinedGroup">
                <h3>Create New Channel</h3>
                <label class="input">
                    <input type="text" [(ngModel)]='newChannelName' name='newChannelName'>
                    <span class="label">Channel Name</span>
                    <span class="border"></span>
                </label><br>
                <button (click)='createChannel()'>Create</button>
            </div>
            <!-- delete Channel -->
            <div id='deleteChannel' *ngIf="userRole >= 1 && joinedGroup">
                <h3>Delete a Channel</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Channel Name</span><br>
                    <select [(ngModel)]='channelToDelete' name='channelToDelete'>
                        <option [ngValue]='null'>Select Channel</option>
                        <option *ngFor="let channel of channels">{{channel}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='deleteChannel()'>Delete</button>
            </div>
            <!-- invite to Channel -->
            <div id='inviteToChannel' *ngIf='inChannel'>
                <h3>Invite User to Channel</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Username</span><br>
                    <select [(ngModel)]='inviteUserToChannel' name='inviteToChannel'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of users">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='inviteToChannel()'>Invite</button>
            </div>
            <!-- remove from Channel -->
            <div id='inviteToChannel' *ngIf="userRole >= 1 && inChannel">
                <h3>Remove User from Channel</h3>
                <label class="selectionInput">
                    <span class="boxLabel">Users</span><br>
                    <select [(ngModel)]='removeUserFromChannel' name='removeUserFromChannel'>
                        <option [ngValue]='null'>Select User</option>
                        <option *ngFor="let user of usersInChannel">{{user}}</option>
                    </select>
                    <span class="border"></span>
                </label><br>
                <button (click)='removeFromChannel()'>Remove</button>
            </div>
        </div>
    </div>
</div>
